:root {
  --color-chocolate-brown-main: #401903;
  --color-chocolate-brown-50: #fffbeb;
  --color-chocolate-brown-100: #fef4c7;
  --color-chocolate-brown-200: #fde78a;
  --color-chocolate-brown-300: #fbd54e;
  --color-chocolate-brown-400: #fac225;
  --color-chocolate-brown-500: #f4a10c;
  --color-chocolate-brown-600: #d87a07;
  --color-chocolate-brown-700: #b3550a;
  --color-chocolate-brown-800: #92420e;
  --color-chocolate-brown-850: #78360f;
  --color-peach-amber-main: #f2ab6d;
  --color-peach-amber-50: #fef6ee;
  --color-peach-amber-100: #fcebd8;
  --color-peach-amber-200: #f8d4b0;
  --color-peach-amber-300: #ee8c49;
  --color-peach-amber-400: #e96d26;
  --color-peach-amber-500: #db541b;
  --color-peach-amber-600: #b53f19;
  --color-peach-amber-700: #91341b;
  --color-peach-amber-800: #752d19;
  --color-peach-amber-850: #3f140b;
  --color-red-main: #dc2626;
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-gray-white: #ffffff;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-850: #111827;
  --color-gray-black: #1f1f1f;
  --color-red-600: #b91c1c;
  --color-red-700: #991b1b;
  --color-red-800: #7f1d1d;
  --color-red-850: #450a0a;
  --color-orange-main: #ff7043;
  --color-orange-50: #fff3ed;
  --color-orange-100: #ffe4d4;
  --color-orange-200: #ffc5a8;
  --color-orange-300: #ff9c71;
  --color-orange-400: #fe4011;
  --color-orange-500: #ef2607;
  --color-orange-600: #c61708;
  --color-orange-700: #9d150f;
  --color-orange-800: #7e1510;
  --color-orange-850: #440606;
  --color-gray-950: #272727;
  --color-green-850: #052e11;
  --color-green-800: #145325;
  --color-green-600: #15802f;
  --color-green-500: #15a437;
  --color-green-700: #16652a;
  --color-green-main: #24d64e;
  --color-green-300: #86ef9e;
  --color-green-100: #dcfce3;
  --color-green-200: #bbf7c8;
  --color-green-400: #49df6c;
  --color-green-50: #f0fdf2;
}
