@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import './typography.css';
@import './sizes.css';
@import './theme.css';

@theme {
  --color-accent: var(--color-chocolate-brown-main);
  --color-bg-primary: var(--gray-white);
  --color-text-placeholder: #717680;
  --color-surface: var(--);

  --font-sans: var(--font-body);
  --spacing-6: var(--sizes-size-6);
  --spacing-56: var(--sizes-size-56);
}

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  body {
    @apply font-sans bg-white;
    color: var(--color-text-main);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }

  #app {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
  }


  a {
    color: inherit;
    text-decoration: none;
  }
}
@layer {

}
@utility preset-display-lg {
  @apply font-sans text-[48px] leading-[1.3] font-semibold tracking-normal
}

@utility preset-display-md {
  @apply font-sans text-[36px] leading-[1.3] font-semibold tracking-normal
}

@utility preset-display-sm {
  @apply font-sans text-[24px] leading-[1.3] font-semibold tracking-normal
}
@utility preset-heading-lg {
  @apply font-sans text-[20px] leading-[1.4] font-semibold tracking-normal
}

@utility preset-heading-md {
  @apply font-sans text-[18px] leading-[1.4] font-semibold tracking-normal
}

@utility preset-heading-sm {
  @apply font-sans text-[16px] leading-[1.4] font-semibold tracking-normal
}

@utility preset-label-lg {
  @apply font-sans text-[14px] leading-[1.4] font-medium tracking-tighter
}

@utility preset-label-md {
  @apply font-sans text-[12px] leading-[1.4] font-medium tracking-tighter
}

@utility preset-label-sm {
  @apply font-sans text-[10px] leading-[1.4] font-medium tracking-tighter
}

@utility preset-body-lg {
  @apply font-sans text-[16px] leading-normal font-normal tracking-normal
}

@utility preset-body-md {
  @apply font-sans text-[14px] leading-normal font-normal tracking-normal
}

@utility preset-body-sm {
  @apply font-sans text-[12px] leading-normal font-normal tracking-normal
}

@utility preset-link-lg {
  @apply font-sans text-[14px] leading-normal font-medium tracking-wide
}

@utility preset-link-md {
  @apply font-sans text-[12px] leading-normal font-medium tracking-wide
}

@utility preset-link-sm {
  @apply font-sans text-[10px] leading-normal font-medium tracking-wide
}
