@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import './typography.css';
@import './sizes.css';
@import './theme.css';

@theme {
  --font-sans: var(--typeface-fontfamily-title);
  --color-brand-main: var(--color-chocolate-brown-main);
}

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  body {
    @apply font-sans;
    /* background-color: var(--color-page-bg); */
    color: var(--color-text-main);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }

  #app {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
