@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
/* @import './tokens.css'; */
@import './colors.css';
@import './typography.css';
@import 'tw-animate-css';

@theme {
  --color-surface: var(--color-gray-white);
  --color-foreground: var(--color-gray-700);
  --color-accent-main: var(--color-chocolate-brown-main);
  --color-accent-subtle: #3C2610;
  --color-destructive: var(--color-red-600);
  --color-destructive-fg: var(--color-gray-white);
  --color-focus: #FFF2DB;

  --font-sans: var(--font-default);
}

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  body {
    @apply font-sans;
    background-color: var(--color-page-bg);
    color: var(--color-text-main);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }

  #app {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@utility text-preset-display-lg {
  @apply font-sans text-[48px] leading-[1.3] font-semibold tracking-normal
}

@utility text-preset-display-md {
  @apply font-sans text-[36px] leading-[1.3] font-semibold tracking-normal
}

@utility text-preset-display-sm {
  @apply font-sans text-[24px] leading-[1.3] font-semibold tracking-normal
}
@utility text-preset-heading-lg {
  @apply font-sans text-[20px] leading-[1.4] font-semibold tracking-normal
}

@utility text-preset-heading-md {
  @apply font-sans text-[18px] leading-[1.4] font-semibold tracking-normal
}

@utility text-preset-heading-sm {
  @apply font-sans text-[16px] leading-[1.4] font-semibold tracking-normal
}

@utility text-preset-label-lg {
  @apply font-sans text-[14px] leading-[1.4] font-medium tracking-tighter
}

@utility text-preset-label-md {
  @apply font-sans text-[12px] leading-[1.4] font-medium tracking-tighter
}

@utility text-preset-label-sm {
  @apply font-sans text-[10px] leading-[1.4] font-medium tracking-tighter
}

@utility text-preset-body-lg {
  @apply font-sans text-[16px] leading-normal font-normal tracking-normal
}

@utility text-preset-body-md {
  @apply font-sans text-[14px] leading-normal font-normal tracking-normal
}

@utility text-preset-body-sm {
  @apply font-sans text-[12px] leading-normal font-normal tracking-normal
}

@utility text-preset-link-lg {
  @apply font-sans text-[14px] leading-normal font-medium tracking-wide
}

@utility text-preset-link-md {
  @apply font-sans text-[12px] leading-normal font-medium tracking-wide
}

@utility text-preset-link-sm {
  @apply font-sans text-[10px] leading-normal font-medium tracking-wide
}

@utility btn {
  @apply cursor-pointer py-4 px-5 rounded-sm focus:ring-1 ring-focus;
}

@utility btn--primary {
  @apply btn bg-accent-main hover:bg-accent-subtle text-surface;
}

@utility btn--link {
  @apply btn underline hover:no-underline text-accent-main;
}
