@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './tokens.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-page-bg);
    color: var(--color-text-main);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }

  #app {
    min-height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
@utility text-preset-display-lg {
  @apply font-sans text-[48px] leading-[1.3] font-semibold tracking-normal;
}

@utility text-preset-display-md {
  @apply font-sans text-[60px] leading-[100%] font-bold tracking-[-4%];
}

@utility text-preset-display-sm {
  @apply font-sans text-[48px] leading-14 font-semibold tracking-[-2%];
}
@utility text-preset-heading-lg {
  @apply font-sans text-[36px] leading-[100%] font-semibold tracking-[0%];
}

@utility text-preset-heading-md {
  @apply font-sans text-[18px] leading-[1.4] font-semibold tracking-normal;
}

@utility text-preset-heading-sm {
  @apply font-sans text-[16px] leading-[1.4] font-semibold tracking-normal;
}

@utility text-preset-label-lg {
  @apply font-sans text-[14px] leading-[1.4] font-medium tracking-tighter;
}

@utility text-preset-label-md {
  @apply font-sans text-[12px] leading-[1.4] font-medium tracking-tighter;
}

@utility text-preset-label-sm {
  @apply font-sans text-[10px] leading-[1.4] font-medium tracking-tighter;
}

@utility text-preset-body-xx-lg {
  @apply font-sans text-[24px] leading-9 font-medium tracking-[0%];
}

@utility text-preset-body-lg {
  @apply font-sans text-[16px] leading-normal font-normal tracking-normal;
}

@utility text-preset-body-md {
  @apply font-sans text-[14px] leading-normal font-normal tracking-normal;
}

@utility text-preset-body-sm {
  @apply font-sans text-[12px] leading-normal font-normal tracking-normal;
}

@utility text-preset-link-lg {
  @apply font-sans text-[14px] leading-normal font-medium tracking-wide;
}

@utility text-preset-link-md {
  @apply font-sans text-[12px] leading-normal font-medium tracking-wide;
}

@utility text-preset-link-sm {
  @apply font-sans text-[10px] leading-normal font-medium tracking-wide;
}
