@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import './tokens.css';
@import './colors.css';
@import './typography.css';
@import 'tw-animate-css';

@theme {
  --color-surface: var(--color-gray-white);
  --color-foreground: var(--color-gray-700);
  --color-accent-main: var(--color-chocolate-brown-main);
  --color-accent-subtle: #3c2610;
  --color-destructive: var(--color-red-600);
  --color-destructive-fg: var(--color-gray-white);
  --color-focus: #fff2db;

  --font-sans: var(--font-default);
}

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  body {
    @apply font-sans;
    background-color: var(--color-page-bg);
    color: var(--color-text-main);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }

  #app {
    min-height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@utility container--wide {
  @apply m-auto w-full max-w-[1200px];
}

@utility text-preset-display-lg {
  @apply font-sans text-[48px] leading-[1.3] font-semibold tracking-normal;
}

@utility text-preset-display-md {
  @apply font-sans text-[60px] leading-[100%] font-bold tracking-[-4%];
}

@utility text-preset-display-sm {
  @apply font-sans text-[48px] leading-14 font-semibold tracking-[-2%];
}
@utility text-preset-heading-lg {
  @apply font-sans text-[36px] leading-[100%] font-semibold tracking-[0%];
}

@utility text-preset-heading-md {
  @apply font-sans text-[18px] leading-[1.4] font-semibold tracking-normal;
}

@utility text-preset-heading-sm {
  @apply font-sans text-[16px] leading-[1.4] font-semibold tracking-normal;
}

@utility text-preset-label-lg {
  @apply font-sans text-[14px] leading-[1.4] font-medium tracking-tighter;
}

@utility text-preset-label-md {
  @apply font-sans text-[12px] leading-[1.4] font-medium tracking-tighter;
}

@utility text-preset-label-sm {
  @apply font-sans text-[10px] leading-[1.4] font-medium tracking-tighter;
}

@utility text-preset-body-xx-lg {
  @apply font-sans text-[24px] leading-9 font-medium tracking-[0%];
}

@utility text-preset-body-lg {
  @apply font-sans text-[16px] leading-normal font-normal tracking-normal;
}

@utility text-preset-body-md {
  @apply font-sans text-[14px] leading-normal font-normal tracking-normal;
}

@utility text-preset-body-sm {
  @apply font-sans text-[12px] leading-normal font-normal tracking-normal;
}

@utility text-preset-link-lg {
  @apply font-sans text-[14px] leading-normal font-medium tracking-wide;
}

@utility text-preset-link-md {
  @apply font-sans text-[12px] leading-normal font-medium tracking-wide;
}

@utility text-preset-link-sm {
  @apply font-sans text-[10px] leading-normal font-medium tracking-wide;
}

@utility btn {
  @apply ring-focus cursor-pointer rounded-sm focus:ring-1;
}

@utility btn--sm {
  @apply px-3 py-2;
}

@utility btn--md {
  @apply px-4 py-2.5;
}

@utility btn--lg {
  @apply px-4.5 py-2.5;
}

@utility btn--xl {
  @apply px-5 py-4;
}

@utility btn--primary {
  @apply btn bg-accent-main hover:bg-accent-subtle text-surface;
}

@utility btn--with-icon {
  @apply flex items-center gap-2;
}

@utility btn--outline {
  @apply btn border-accent-main text-accent-main border hover:bg-gray-100;
}

@utility btn--link {
  @apply btn text-accent-main underline hover:no-underline;
}

@utility btn--disabled {
  @apply disabled:text-foreground disabled:cursor-not-allowed disabled:bg-gray-400 disabled:opacity-70;
}

@utility link--disabled {
  @apply disabled:cursor-not-allowed;
}

/* @utility btn--icon-only {
  @apply b;
} */
