@import './colors.css';

:root {
  --color-primary-700: var(--color-chocolate-brown-700);
  --color-primary-600: var(--color-chocolate-brown-600);
  --color-success-50: var(--color-green-50);
  --color-success-200: var(--color-green-200);
  --color-primary-500: var(--color-chocolate-brown-500);
  --color-success-300: var(--color-green-300);
  --color-success-700: var(--color-green-700);
  --color-success-600: var(--color-green-600);
  --color-warning-850: var(--color-orange-850);
  --color-warning-800: var(--color-orange-800);
  --color-primary-400: var(--color-chocolate-brown-400);
  --color-success-400: var(--color-green-400);
  --color-warning-700: var(--color-orange-700);
  --color-warning-300: var(--color-orange-300);
  --color-warning-100: var(--color-orange-100);
  --color-error-100: var(--color-red-100);
  --color-warning-main: var(--color-orange-main);
  --color-primary-main: var(--color-chocolate-brown-main);
  --color-primary-300: var(--color-chocolate-brown-300);
  --color-warning-200: var(--color-orange-200);
  --color-gray-black: var(--color-gray-black);
  --color-warning-500: var(--color-orange-500);
  --color-gray-800: var(--color-gray-800);
  --color-gray-400: var(--color-gray-400);
  --color-success-100: var(--color-green-100);
  --color-gray-200: var(--color-gray-200);
  --color-primary-200: var(--color-chocolate-brown-200);
  --color-warning-400: var(--color-orange-400);
  --color-gray-100: var(--color-gray-100);
  --color-error-600: var(--color-red-600);
  --color-gray-50: var(--color-gray-50);
  --color-success-850: var(--color-green-850);
  --color-error-850: var(--color-red-850);
  --color-gray-950: var(--color-gray-950);
  --color-error-700: var(--color-red-700);
  --color-success-800: var(--color-green-800);
  --color-warning-600: var(--color-orange-600);
  --color-error-500: var(--color-red-500);
  --color-secondary-600: var(--color-peach-amber-600);
  --color-error-300: var(--color-red-300);
  --color-primary-800: var(--color-chocolate-brown-800);
  --color-gray-600: var(--color-gray-600);
  --color-secondary-200: var(--color-peach-amber-200);
  --color-gray-white: var(--color-gray-white);
  --color-primary-100: var(--color-chocolate-brown-100);
  --color-error-200: var(--color-red-200);
  --color-error-400: var(--color-red-400);
  --color-gray-300: var(--color-gray-300);
  --color-error-50: var(--color-red-50);
  --color-secondary-800: var(--color-peach-amber-800);
  --color-secondary-400: var(--color-peach-amber-400);
  --color-error-main: var(--color-red-main);
  --color-gray-850: var(--color-gray-850);
  --color-error-800: var(--color-red-800);
  --color-secondary-850: var(--color-peach-amber-850);
  --color-secondary-main: var(--color-peach-amber-main);
  --color-success-500: var(--color-green-500);
  --color-gray-700: var(--color-gray-700);
  --color-success-main: var(--color-green-main);
  --color-secondary-700: var(--color-peach-amber-700);
  --color-secondary-50: var(--color-peach-amber-50);
  --color-gray-500: var(--color-gray-500);
  --color-secondary-500: var(--color-peach-amber-500);
  --color-primary-50: var(--color-chocolate-brown-50);
  --color-secondary-100: var(--color-peach-amber-100);
  --color-primary-850: var(--color-chocolate-brown-850);
  --color-warning-50: var(--color-orange-50);
  --color-secondary-300: var(--color-peach-amber-300);
}
