:root {
  --typeface-fontfamily-title: 'Inter';
  --typeface-fontfamily-body: 'Inter';
  --typeface-weight-regular: 'Regular';
  --typeface-weight-medium: 'Medium';
  --typeface-weight-semibold: 'Semi-Bold';
  --typeface-weight-bold: 'Bold';
}
